/build/android/bin
/build/Debug
/build/Debug_x64
/build/goma
/build/gomacc.lock
/build/ipch/
/build/Release
/build/Release_x64
/build/win_toolchain.json
/build/util/LASTCHANGE*
/build/util/support
/build/x64/
/build/linux/bin/eu-strip
/build/linux/debian_*-sysroot/
/build/linux/ubuntu_*-sysroot/
/build/mac_files

/out
/third_party/llvm-build
